# Service settings
DRONE_SERVER_HOST={{ server_name }}
DRONE_SERVER_PROTO=https
# Generate DRONE_RPC_SECRET: `openssl rand -hex 16`
DRONE_RPC_SECRET={{ drone_rpc_secret }}
DRONE_USER_CREATE=username:{{ drone_admin_user }},admin:true

# GitHub Settings
DRONE_GITHUB_CLIENT_ID={{ drone_github_client_id }}
DRONE_GITHUB_CLIENT_SECRET={{ drone_github_client_secret }}
